@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

// Variables
@import "./abstract/variables";

// Base
@import "./abstract/base";

// Header
@import "./layout/header/header.scss";

// Footer
@import "./layout/footer/footer.scss";

// Navigation
@import "./layout/navigation/menu-mobile.scss";

// JavaScript
@import "./js-styles/javascript.scss";

// Home
@import "./pages/home.scss";

// Cadastro
@import "./pages/signup.scss";

// Swiper/Banner
@import "./layout/banner/banner.scss";

// Categories
@import "./layout/categories/categories.scss";

//Promotions
@import "./layout/promotions/promotions.scss";

// Products
@import "./layout/products/product.scss";

// Products
@import "./pages/view-product.scss";

// Bag
@import "./pages/bag.scss";

// Categorie item
@import "./pages/categorie-item.scss";

// Admin
@import "./pages/admin.scss";

