.header {
   align-items: center;
   display: flex;
   justify-content: space-between;
   width: 100%;
   position: relative;
   z-index: 2;
   border-bottom: 1px solid grey;
   .header__container {
      align-items: center;
      background-color: white;
      color: $black-color;
      display: flex;
      height: 9vh;
      justify-content: space-between;
      width: 100%;

      .header__container-icon {
         padding: 1em;
         
         .header__mobile-icon {
            font-size: 35px;
            color: black;
         }
      }

      .header__container-logo {
         .header__logo {
            font-family: "Cabin Sketch", cursive;
            font-size: $big-font;
            color: $black-color;
            text-transform: uppercase;
            text-decoration: none;
         }
      }
   }
}
