.container {
   align-items: center;
   display: flex;
   justify-content: space-between;
   width: 100%;

   .header {
      align-items: center;
      background-color: white;
      border-bottom: 2px solid $secondary-color;
      color: $secondary-color;
      display: flex;
      height: 10vh;
      justify-content: space-between;
      width: 100%;

      .header__container-icon {
         font-size: $big-font;
         padding: 1em;
      }

      .header__container-logo {
         .header__container-logo {
            max-height: 8vh;
         }
         .header__container-text {
            font-family: "Cabin Sketch", cursive;
            font-size: $big-font;
         }
      }
   }
}
