// Body
body {
   font-family: $main-font;
   font-size: 16px;
}

.button {
   border: 1px solid $button-border;
   border-radius: 5px;
   color: $button-color;
   font-size: $button-font;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   padding: $padding-button;

   &:hover {
      border-color: $hover-color;
      color: $hover-color;
   }
}

.link {
   color: $light-pink;
   text-decoration: none;
   &:hover {
      color: $hover-color;
   }
}
