// Body
body {
   font-family: $main-font;
   font-size: 16px;
}

.button {
   border: 1px solid $button-border;
   border-radius: 5px;
   color: $button-color;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   padding: $padding-button;
   transition: .5s;
   cursor: pointer;
}

.link {
   color: $black-color;
   text-decoration: none;
   &:hover {
      color: $hover-color;
   }
}


