// Background Colors
$main-color: #f7b390;

// Font Colors
$link-color: #ffe3d5;

// Font families
$main-font: "Roboto", sans-serif;

// Font size
$giant-font: 3em;
$big-font: 1.7em;
$medium-font: 1.2em;

// Padding
$padding-default: 0 1em;
$padding-button: 0.5em 1.25em;
