// Colors
$light-pink: #fff2f7;
$light-salmon: #ffdfd0;

$main-color: #f7b390;
$secondary-color: #382821;
$third-color: #ffcbe0;

$black-color: #000;
$white-color: #fff;
// Button Config
$button-border: $light-pink;
$button-color: #ffe3d5;
$button-font: 1.5em;
$button-hover: #ffa550;

// Font Colors
$link-color: #b8846a;
$hover-color: #785646;

// Font families
$main-font: "Roboto", sans-serif;

// Font size
$giant-font: 3em;
$big-font: 1.7em;
$medium-font: 1.4em;
$small-font: 0.9em;

// Padding
$padding-default: 0 1em;
$padding-button: 0.6em 1em;
