.clothes {
   .clothes__title {
      color: $secondary-color;
      font-size: $big-font;
      text-decoration: none;
      font-weight: 300;
      padding: 1em 0 0.5em 0;
      text-align: center;
   }
}

.products__list {
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(2, 1fr);
   margin: 0 0.5em;

   .product {
      .product__link {
         display: flex;
         flex-direction: column;
         gap: 10px;
         width: 100%;
         height: 100%;
         padding: 1.3em 0 0 0;
         text-decoration: none;
         .product__banner {
            border: 1px solid $light-pink;
            width: 180px;
            height: 180px;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
         }

         .product__banner--1 {
            background-image: url("../../../assets/img/product1.jpg");
         }
         .product__banner--2 {
            background-image: url("../../../assets/img/product2.jpg");
         }
         .product__banner--3 {
            background-image: url("../../../assets/img/product3.jpg");
         }
         .product__banner--4 {
            background-image: url("../../../assets/img/product4.jpg");
         }

         .product__title {
            font-size: $small-font;
            font-weight: 300;
            color: $black-color;

            min-height: 35px;
         }
         .product__price {
            color: $black-color;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
         }
         .product__button {
            background-color: $main-color;
            color: black;
         }
      }
   }
}

@media screen and (min-width: 1024px) {
   .products__list {
      width: 80vw;
      margin: 0 auto;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
   }
}
