.clothes {
   .clothes__title {
      color: $secondary-color;
      font-size: $big-font;
      text-decoration: none;
      font-weight: 300;
      padding: 1em 0 0.5em 0;
      text-align: center;
   }
}

.products__list {
   display: grid;
   gap: 10px;
   grid-template-columns: repeat(2, 1fr);
   margin: 0 1em;

   .product {
      .product__link {
         display: flex;
         flex-direction: column;
         gap: 10px;
         width: 100%;
         height: 100%;
         padding: 1.3em 0 0 0;
         text-decoration: none;
         .product__banner {
            border: 1px solid $light-pink;
            min-width: 100%;
            height: 200px;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
         }
         .product__title {
            font-size: $small-font;
            font-weight: 300;
            color: $black-color;

            min-height: 35px;
         }
         .product__price {
            color: $black-color;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
         }
         .product__button {
            background-color: $main-color;
            color: black;
            font-size: 0.8em;
            &:hover {
               background-color: $hover-color;
               color: $white-color;
            }
         }
      }
   }
}

@media screen and (min-width: 768px) {
   .products__list {
      width: 90vw;
      margin: 0 auto;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      .product__banner{
         min-width: 100%;
         min-height: 300px;
      }
      .product__button {
         padding: 1em;
      }
   }
}

@media screen and (min-width: 1100px) {
   .products__list {
      grid-template-columns: repeat(5, 1fr);
      .product {
        .product__link {
         .product__banner{
            min-width: 100%;
            min-height: 230px;
         }
         .product__title {
            font-size: 1em;
         }
         .product__price {
            font-size: 1em;
         }
         .product__button {
            padding: 1em;
         }
        }
      }      
   }
}