@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.button {
  border: 1px solid #fff2f7;
  border-radius: 5px;
  color: #ffe3d5;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0.6em 1.25em;
}
.button:hover {
  border-color: #785646;
  color: #785646;
}

.link {
  color: #000;
  text-decoration: none;
}
.link:hover {
  color: #785646;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgb(201, 201, 201);
}
.header .header__container {
  align-items: center;
  background-color: white;
  color: #000;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  width: 100%;
}
.header .header__container .header__container-icon {
  padding: 1em;
}
.header .header__container .header__container-icon .header__mobile-icon {
  font-size: 35px;
  color: rgb(31, 31, 31);
}
.header .header__container .header__container-icon .person-anchors {
  display: none;
}
.header .header__container .header__container-logo .header__logo {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  .header .header__container {
    padding: 0 3em;
  }
  .header .header__container #menu__mobile {
    display: none;
  }
  .header .header__container .header__container-logo .header__logo {
    font-size: 2em;
  }
  .header .header__container .header__container-icon {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header .header__container .header__container-icon .bi {
    font-size: 0.8em;
  }
  .header .header__container .header__container-icon .person-anchors {
    display: block;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  height: 10vh;
  background-color: #000;
  text-align: center;
}
.footer .footer__container .footer__copyright {
  color: white;
}

.menu {
  background-color: white;
  color: black;
  padding: 2em 0;
  position: fixed;
  top: 0;
  left: -9999px;
  z-index: 3;
  height: 100vh;
  width: 100vw;
  transition: 0.7s all ease-out;
}
.menu .menu__container-close {
  cursor: pointer;
}
.menu .menu__container-close .menu__icon--close {
  font-size: 1.7em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
}
.menu .menu__container-user {
  padding: 2em 0;
}
.menu .menu__container-user .menu__container-user-content {
  display: flex;
  justify-content: center;
}
.menu .menu__container-user .menu__container-user-content .menu__icon--user {
  font-size: 5em;
  margin-bottom: 0.25em;
}
.menu .menu__container-user .menu__container-user-content .menu__link--user {
  color: black;
  border-color: black;
}
.menu .menu__container-user .menu__container-user-content .menu__list--user {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.menu .menu__container-user .menu__container-user-content .menu__list--user .menu__span--user {
  font-weight: 300;
}
.menu .menu__title {
  text-align: center;
}
.menu .menu__mobile {
  padding: 2em;
}
.menu .menu__mobile .menu__item {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.menu .menu__mobile .menu__item .menu__link {
  font-size: 1.4em;
}
.menu .menu__mobile .menu__item .menu__icon {
  margin-right: 1em;
}

@media screen and (min-width: 1024px) {
  .menu {
    left: -1024px;
    width: 50vw;
    height: 100vh;
    transition: 0.6s all ease-out;
  }
  .menu .menu__container-user .menu__container-user-content .menu__icon--user {
    font-size: 3em;
  }
  .menu .menu__container-user .menu__container-user-content .menu__link--user:hover {
    color: #b8846a;
    border-color: #785646;
    transform: scale(105%);
  }
  .menu .menu__mobile .menu__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .menu .menu__mobile .menu__item .menu__link {
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    height: 50px;
    width: 200px;
  }
  .menu .menu__mobile .menu__item .menu__link:hover {
    border-color: #785646;
    transform: scale(105%);
  }
}
.navbar-desktop {
  text-align: center;
  width: 100vw;
  padding: 0.5em 0;
}
.navbar-desktop .navbar__container {
  display: none;
}
.navbar-desktop .navbar__container--input {
  padding: 0.5em 0;
}
.navbar-desktop .navbar__container--input .navbar__input {
  padding: 1em 0.5em;
  width: 85vw;
  outline: none;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}
.navbar-desktop .navbar__container--input .navbar__input::placeholder {
  color: rgb(197, 197, 197);
}

@media screen and (min-width: 1100px) {
  .navbar-desktop {
    padding: 1em 0;
  }
  .navbar-desktop .navbar__container--input {
    padding: 1em 0;
  }
  .navbar-desktop .navbar__container--input .navbar__input {
    padding: 0.7em 0.5em;
    width: 80vw;
  }
  .navbar-desktop .navbar__container {
    display: block;
  }
  .navbar-desktop .navbar__container .navbar__list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .navbar-desktop .navbar__container .navbar__list .navbar__item {
    transition: 0.1s;
    height: 20px;
  }
  .navbar-desktop .navbar__container .navbar__list .navbar__item .navbar__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    color: black;
  }
  .navbar-desktop .navbar__container .navbar__list .navbar__item:hover {
    border-bottom: 2px solid #f7b390;
  }
}
.active-menu {
  left: 0;
}

.active-header {
  position: fixed;
}

.signup {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.signup .signup__container {
  margin: 2em 0;
  width: 90vw;
}
.signup .signup__container .signup__toplogo {
  margin-bottom: 0.3em;
  width: 70px;
}
.signup .signup__container .signup__title {
  color: #382821;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f7b390;
}
.signup .signup__container .signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  padding: 2em 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 15px;
  border-radius: 10px;
}
.signup .signup__container .signup__form .form__container {
  line-height: 30px;
  padding: 0.75em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.signup .signup__container .signup__form .form__container .form {
  width: 90%;
}
.signup .signup__container .signup__form .form__container .signup__label {
  font-weight: 300;
  display: inline-block;
}
.signup .signup__container .signup__form .form__container .signup__input {
  border: 1px solid rgb(145, 145, 145);
  border-radius: 5px;
  padding: 1em;
  width: 90%;
  font-size: 1em;
}
.signup .signup__container .signup__form .form__container .signup__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}
.signup .signup__container .signup__form .form__container .form__button {
  border: none;
  background-color: #f7b390;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  width: 75%;
  transition: 0.5s;
}
.signup .signup__container .signup__form .form__container .form__button:hover {
  background-color: #382821;
}
.signup .signup__container .signup__form .form__container .form__text {
  color: #382821;
  text-align: center;
}
.signup .signup__container .signup__form .form__container .form__text .form__link {
  color: #b8846a;
}
.signup .signup__container .signup__form .form__container .form__text .form__link:hover {
  color: #785646;
}

.login {
  height: 100vh;
}

@media screen and (min-width: 1100px) {
  .signup .signup__container .signup__form {
    width: 50vw;
  }
  .signup .signup__container .signup__form .form__container .form-desktop {
    display: flex;
    align-items: center;
  }
  .signup .signup__container .signup__form .form__container .form-name {
    width: 50%;
  }
  .signup .signup__container .signup__form .form__container .form .signup__label {
    font-size: 0.9em;
  }
  .signup .signup__container .signup__form .form__container .form .signup__input {
    padding: 0.8em;
  }
  .signup .signup__container .signup__form .form__container .form .signup__input::placeholder {
    font-size: 0.9em;
  }
  .signup .signup__container .signup__form .form__container .form__button {
    font-size: 1em;
  }
}
.banner .banner__container {
  text-align: center;
}
.banner .banner__container .banner__picture .banner-mobile {
  width: 95vw;
}

@media screen and (min-width: 1200px) {
  .banner {
    text-align: center;
    padding: 1em 0;
  }
}
.categories .categories__list {
  padding: 1em 0;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  padding-left: 1em;
}
.categories .categories__list .categories__item {
  text-align: center;
}
.categories .categories__list .categories__item .categories__link {
  color: black;
  font-weight: 300;
}
.categories .categories__list .categories__item .categories__link .categories__image--link {
  background-color: white;
  border: 1px solid #000;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 5px;
  position: relative;
  background: #fff url("../../../assets/img/product2.jpg") no-repeat center;
  background-size: cover;
  width: 60px;
  height: 60px;
}
.categories .categories__list .categories__item .categories__link .categories__icon {
  color: #000;
  font-size: 25px;
  padding: 0.7em;
}

@media screen and (min-width: 1024px) {
  .categories .categories__list {
    align-items: center;
    gap: 15px;
    justify-content: center;
    overflow: hidden;
  }
  .categories .categories__list .categories__item .categories__link .categories__icon {
    font-size: 26px;
    padding: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .categories {
    display: none;
  }
}
.promotions {
  background-color: #f8ede7;
}
.promotions .promotion__container {
  padding: 1em 0;
}
.promotions .promotion__container .promotion__title {
  text-align: center;
  font-size: 1.7em;
  font-weight: 300;
}
.promotions .promotion__container .swiper__promotions .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.promotions .promotion__container .swiper__promotions .promotions__image {
  max-width: 80%;
  max-height: 350px;
}
.promotions .promotion__container .swiper__promotions .promotions-slide {
  padding: 1em 0;
  text-align: center;
}
.promotions .promotion__container .swiper__promotions .promotions-slide .promotions__slide-title {
  font-weight: 300;
  font-size: 19px;
  padding: 0.7em 0;
}
.promotions .promotion__container .swiper__promotions .promotions-slide .promotions__slide-price {
  font-size: 1.4em;
  font-weight: 600;
}

.clothes .clothes__title {
  color: #382821;
  font-size: 1.7em;
  text-decoration: none;
  font-weight: 300;
  padding: 1em 0 0.5em 0;
  text-align: center;
}

.products__list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 1em;
}
.products__list .product .product__link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 1.3em 0 0 0;
  text-decoration: none;
}
.products__list .product .product__link .product__banner {
  border: 1px solid #fff2f7;
  min-width: 100%;
  height: 200px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products__list .product .product__link .product__title {
  font-size: 0.9em;
  font-weight: 300;
  color: #000;
  min-height: 35px;
}
.products__list .product .product__link .product__price {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.products__list .product .product__link .product__button {
  background-color: #f7b390;
  color: black;
}

@media screen and (min-width: 768px) {
  .products__list {
    width: 90vw;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .products__list .product__banner {
    min-width: 100%;
    min-height: 300px;
  }
}
@media screen and (min-width: 1100px) {
  .products__list {
    grid-template-columns: repeat(5, 1fr);
  }
  .products__list .product .product__link .product__banner {
    min-width: 100%;
    min-height: 230px;
  }
  .products__list .product .product__link .product__title {
    font-size: 1em;
  }
  .products__list .product .product__link .product__price {
    font-size: 1em;
  }
  .products__list .product .product__link .product__button {
    padding: 0.5em;
  }
}
.view-product {
  padding: 0 1.5em;
}
.view-product .view-product__container .view-product__image {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.view-product .view-product__container .view-product__image img {
  text-align: center;
  max-width: 100vw;
}
.view-product .view-product__container .view-product__content .view-product__name {
  font-size: 1.7em;
}
.view-product .view-product__container .view-product__content .view-product__price {
  padding: 0.5em 0;
  font-size: 1.4em;
  font-weight: 600;
}
.view-product .view-product__container .view-product__form .view-product-form__content {
  padding: 1em 0;
}
.view-product .view-product__container .view-product__form .view-product-form__content .view-product-form__option {
  padding: 0.5em 1.2em;
  margin-right: 0.5em;
  border-radius: 100%;
}
.view-product .view-product__container .view-product__form .view-product-form__content .view-product-form__option:hover {
  border: 2px solid grey;
  transform: scale(1.05em);
}
.view-product .view-product__container .view-product__form .view-product-form__content .view-product-form__option-black {
  background-color: black;
}
.view-product .view-product__container .view-product__form .view-product-form__content .view-product-form__option-white {
  background-color: rgb(185, 184, 184);
}
.view-product .view-product__container .view-product__form .view-product-form__content .view-product-form__option-blue {
  background-color: blue;
}
.view-product .view-product__container .view-product__form .view-product-form__content input[type=radio] {
  display: none;
}
.view-product .view-product__container .view-product__form .view-product-form__content .view-product-form__title {
  font-size: 1.4em;
  padding: 1em 0.5em 0.8em 0;
}
.view-product .view-product__container .view-product__form .view-product-form__content select {
  width: 60px;
  height: 30px;
  font-size: 16px;
}
.view-product .view-product__container .view-product__form .view-product-form__cep .cep-for-displayflex {
  display: flex;
  font-weight: 300;
  padding: 0.5em 0;
}
.view-product .view-product__container .view-product__form .view-product-form__cep .cep-for-displayflex .form-cep__input {
  width: 60%;
  padding: 0.2em 0.5em;
  border: 1px solid grey;
  outline: none;
  font-size: 18px;
  color: grey;
}
.view-product .view-product__container .view-product__form .view-product-form__cep .cep-for-displayflex .form-cep__button {
  padding: 0.5em;
}
.view-product .view-product__container .view-product__form .view-product-form__cep .cep-for-displayflex .form-cep__link {
  font-size: 0.9em;
  color: #000;
  text-decoration: underline;
}
.view-product .view-product__container .view-product__form .view-product-form__button {
  text-align: center;
  padding: 0 0 1em 0;
}
.view-product .view-product__container .view-product__form .view-product-form__button .view-product__button {
  background-color: green;
}

.bag {
  padding: 1em;
  position: relative;
}
.bag .bag__container {
  display: flex;
  padding: 1em 0;
}
.bag .bag__container .bag__container-product {
  padding: 0 1em;
}
.bag .bag__container .bag__container-product img {
  width: 80px;
  height: 100px;
}
.bag .bag__container .bag__container-product .bag-container-product__name {
  font-weight: 300;
}
.bag .bag__container .bag__container-product .bag__container-specifications {
  display: flex;
  gap: 10px;
  padding: 1em 0;
}
.bag .bag__container .bag__container-product .bag__container-specifications .bag-container-product__size, .bag .bag__container .bag__container-product .bag__container-specifications .bag-container-product__color {
  color: grey;
}
.bag .bag__container .bag__container-product .bag__container-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bag .bag__container .bag__container-product .bag__container-price .bag-container-product__quantity {
  width: 10%;
  text-align: center;
}
.bag .bag__container .bag__container-product .bag__container-price .bag-container-product__price {
  font-weight: 500;
}

.total-purchase {
  width: 100vw;
  border-top: 1px solid rgb(172, 172, 172);
  padding: 1em 0;
}
.total-purchase .total-purchase__container {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}
.total-purchase .total-purchase__container .total-purchase__specifications {
  padding: 0.6em 0;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.9em;
}
.total-purchase .total-purchase__container .total-purchase__parcel {
  padding: 0 0 1em 0;
  text-align: end;
  font-weight: 300;
  font-size: 0.9em;
}
.total-purchase .total-purchase__container .buy__mobile {
  display: flex;
  flex-direction: column;
}
.total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy {
  width: 100%;
  padding: 0.5em 0;
}
.total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy .total-purchase__buy {
  padding: 0.7em 0;
  width: 100%;
  background-color: #ffcbe0;
  outline: none;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy .total-purchase__buy:hover {
  background-color: pink;
}
.total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy .continue {
  background-color: transparent;
  border: 2px solid #ffcbe0;
}
.total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy .continue a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}
.total-purchase .total-purchase__container .total-purchase__coupon {
  padding: 1em 0;
}
.total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--title {
  font-weight: 300;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.5em 0;
}
.total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--container {
  display: flex;
}
.total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--container .total-purchase__input {
  padding: 0.7em 0;
  border: none;
  border-bottom: 2px solid #ffcbe0;
  outline: none;
}
.total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--container .total-purchase__btn--coupon {
  border: 2px solid #ffcbe0;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}
.total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--container .total-purchase__btn--coupon:hover {
  background-color: pink;
}

@media screen and (min-width: 1024px) {
  .bag__container .bag__container-product img {
    width: 100%;
    height: 150px;
  }
  .bag__container .bag__container-product .bag-container-product__name {
    font-size: 1.5em;
  }
  .bag__container .bag__container-product .bag__container-specifications, .bag__container .bag__container-product .bag__container-price {
    font-size: 1.3em;
  }
  .total-purchase {
    position: fixed;
    top: calc(100vh - 17%);
    left: 0;
    width: 100vw;
    border-top: 1px solid grey;
    padding: 1em 0;
  }
  .total-purchase .total-purchase__container {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }
  .total-purchase .total-purchase-container__buy {
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  .total-purchase .total-purchase-container__buy .total-purchase__buy {
    text-align: center;
    width: 100vw;
    padding: 0.7em;
    background-color: #ffcbe0;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
  }
}
@media screen and (min-width: 1100px) {
  .bag__container {
    width: 40vw;
  }
  .bag__container .bag__container-product img {
    width: 100%;
    height: 300px;
  }
  .bag__container .bag__container-product .bag-container-product__name {
    font-size: 1.2em;
  }
  .bag__container .bag__container-product .bag__container-specifications, .bag__container .bag__container-product .bag__container-price {
    font-size: 1em;
  }
  .total-purchase {
    position: fixed;
    top: 10vh;
    left: 70vw;
    width: 25vw;
    height: 100vh;
    border-left: 1px solid rgb(228, 228, 228);
    border-top: none;
    padding: 1em 0;
  }
  .total-purchase .total-purchase__container {
    flex-direction: column;
    width: 100%;
  }
  .total-purchase .total-purchase__container .total-purchase__coupon {
    padding: 1em 0;
  }
  .total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--container {
    display: flex;
    padding: 0.7em 0;
  }
  .total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--container .total-purchase__input {
    border: none;
    border-bottom: 2px solid #ffcbe0;
    outline: none;
  }
  .total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--container .total-purchase__btn--coupon {
    padding: 0.5em 1em;
    background-color: #ffcbe0;
    border: none;
    color: white;
  }
  .total-purchase .total-purchase__container .total-purchase__coupon .total-purchase__coupon--title {
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
  }
  .total-purchase .total-purchase__container .buy__mobile {
    flex-direction: column;
  }
  .total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy {
    padding: 0.5em 0;
  }
  .total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy .total-purchase__buy {
    font-size: 0.9em;
    font-weight: 300;
    width: 100%;
    border-radius: 0;
  }
  .total-purchase .total-purchase__container .buy__mobile .total-purchase-container__buy .continue {
    background-color: transparent;
    border: 2px solid #ffcbe0;
    text-decoration: none;
    padding: 0.5em 0;
  }
  .total-purchase .total-purchase__specifications {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 0;
    font-size: 0.9em;
    font-weight: 300;
  }
  .total-purchase__parcel {
    text-align: end;
    font-size: 0.7em;
    font-weight: 300;
    padding-bottom: 1em;
  }
}
.product__banner {
  max-width: 100%;
}

.product-single__pants {
  display: flex;
}

.form-add {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.form-add .form-add__container {
  background-color: rgb(219, 208, 208);
  border-radius: 10px;
  padding: 1em;
  width: 80%;
}
.form-add .form-add__container .form {
  padding: 2em 0;
}
.form-add .form-add__container .form .form__item {
  padding: 1em 0;
}
.form-add .form-add__container .form .form__item label {
  display: block;
  font-size: 19px;
  padding-bottom: 0.5em;
}
.form-add .form-add__container .form .form__item input {
  padding: 0.5em 1em;
}
.form-add .form-add__container .form .form__item .input-file {
  font-size: 15px;
  max-width: 100vw;
}
.form-add .form-add__container h2 {
  font-size: 19px;
  padding-bottom: 0.5em;
}
.form-add .form-add__container select {
  font-size: 18px;
}
.form-add .form-add__container select option {
  font-size: 14px;
}
.form-add .form-add__container .form-add__button {
  width: 100%;
  padding: 0.5em;
  font-size: 20px;
  color: white;
  background-color: green;
  border: none;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
