@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.button {
  border: 1px solid #fff2f7;
  border-radius: 5px;
  color: #ffe3d5;
  font-size: 1.5em;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1.25em;
}
.button:hover {
  border-color: #785646;
  color: #785646;
}

.link {
  color: #fff2f7;
  text-decoration: none;
}
.link:hover {
  color: #785646;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .header {
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #382821;
  color: #382821;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  width: 100%;
}
.container .header .header__container-icon {
  font-size: 1.7em;
  padding: 1em;
}
.container .header .header__container-logo .header__container-logo {
  max-height: 8vh;
}
.container .header .header__container-logo .header__container-text {
  font-family: "Cabin Sketch", cursive;
  font-size: 1.7em;
}

.menu {
  background-color: #382821;
  color: #ffdfd0;
  padding: 2em;
  position: fixed;
  top: 0;
  left: -500px;
  z-index: 2;
  height: 100vh;
  width: 60vw;
  transition: 0.7s all ease-out;
}
.menu .menu__container-close {
  cursor: pointer;
}
.menu .menu__container-close .menu__icon--close {
  font-size: 1.7em;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
}
.menu .menu__container-user {
  padding: 2em 0;
}
.menu .menu__container-user .menu__container-user-content {
  display: flex;
  justify-content: center;
}
.menu .menu__container-user .menu__container-user-content .menu__icon--user {
  font-size: 3em;
  margin-bottom: 0.3em;
}
.menu .menu__container-user .menu__container-user-content .menu__list--user {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.menu .menu__container-user .menu__container-user-content .menu__list--user .menu__span--user {
  font-weight: 300;
}
.menu .menu__title {
  text-align: center;
}
.menu .menu__mobile {
  padding: 2em 0;
}
.menu .menu__mobile .menu__item {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}
.menu .menu__mobile .menu__item .menu__link {
  font-size: 1.4em;
}
.menu .menu__mobile .menu__item .menu__icon {
  margin-right: 1em;
}

.active-menu {
  left: 0;
}

.isOpen {
  background-color: rgba(5, 5, 5, 0.329);
  z-index: 5;
}

.swiper {
  width: auto;
  height: auto;
}

.swiper-wrapper img {
  max-width: 100%;
  height: 100%;
}

.banner__image {
  object-fit: cover;
}

.categories .categories__list {
  padding: 1em 0;
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  padding-left: 1em;
}
.categories .categories__list .categories__item {
  text-align: center;
}
.categories .categories__list .categories__item .categories__link {
  color: black;
  font-weight: 300;
}
.categories .categories__list .categories__item .categories__link .categories__image--link {
  background-color: white;
  border: 2px solid #382821;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
}
.categories .categories__list .categories__item .categories__link .categories__icon {
  color: #382821;
  font-size: 32px;
  padding: 0.7em;
}

.clothes__title {
  color: #382821;
  font-size: 1.7em;
  font-weight: 300;
  padding: 1em 0 0.5em 0;
  text-align: center;
}

.products {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0.5em;
}
.products .product {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1.3em 0 0 0;
}
.products .product .product__banner {
  border: 1px solid #fff2f7;
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products .product .product__banner--1 {
  background-image: url("../../../assets/img/product1.jpg");
}
.products .product .product__banner--2 {
  background-image: url("../../../assets/img/product2.jpg");
}
.products .product .product__banner--3 {
  background-image: url("../../../assets/img/product3.jpg");
}
.products .product .product__banner--4 {
  background-image: url("../../../assets/img/product4.jpg");
}
.products .product .product__title {
  font-size: 18px;
  font-weight: 300;
}
.products .product .product__price {
  color: #382821;
  font-size: 20px;
  font-weight: 800;
}
.products .product .product__button {
  background-color: #f7b390;
  font-size: 1.4em;
  color: black;
}

/*# sourceMappingURL=style.css.map */
