.form-add {
    display: flex;
    justify-content: center;
    padding: 2em 1em;
    .form-add__container {
        background-color: rgb(241, 241, 241);
        border: 2px solid $main-color;
        border-radius: 10px;
        padding: 1em;
        .form {
            padding: 0 0 2em 0;
            .form__item {
                padding: 1em 0;
                label {
                    display: block;
                    font-size: 19px;
                    padding-bottom: 0.5em;
                }
                input {
                    outline: none;
                    border: 1px solid rgb(160, 159, 159);
                    border-radius: 20px;
                    padding: 1em;
                    width: 90%;
                    &::placeholder {
                        color: rgb(160, 159, 159);
                        font-size: 17px;
                    }
                }
                input[type="color"] {
                    border-radius: 20px;
                    width: 100%;
                    height: 45px;
                    padding: 1em;
                    &::-webkit-color-swatch-wrapper {
                        padding: 0;
                    }
                    &::-webkit-color-swatch {
                        border: none;
                        border-radius: 20px;
                    }
                }
                .input-file {
                    font-size: 15px;
                }
                .form__item-colors {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;
                }
                .form__item-add {
                    display: flex;
                    justify-content: end;
                    .btn-add-color {
                        font-size: 17px;
                        margin-top: 1em;
                        padding: 0.5em 1em;
                        cursor: pointer;
                        border: 1px solid rgb(160, 159, 159);
                        border-radius: 50%;
                    }
                }
            }
        }

        h2 {
            font-size: 19px;
            padding-bottom: 0.5em;
        }

        .options {
            display: flex;
            justify-content: center;
            padding: 0.5em;
        }

        select {
            width: 100%;
            padding: 0.5em;
            border-radius: 20px;
            font-size: 18px;
            option {
                font-size: 14px;
                max-width: 100%;
            }
        }
        .form-add__button {
            font-size: 20px;
            color: white;

            width: 100%;
            padding: 0.5em;
            margin-top: 1em;
            background-color: green;

            border-radius: 20px;
            border: none;   
            outline: none;
        }
    }
}

@media screen and (min-width: 1000px) {
    .form-add {
        display: flex;
        justify-content: center;
        padding: 2em 1em;
        .form-add__container {
            width: 90vw;
            .form {
                .form__item {
                    width: 45%;
                    label {
                        font-size: 16px;
                    }
                    input {
                        width: 90%;
                        padding: 1em;
                        &::placeholder {
                            font-size: 15px;
                        }
                    }
                    .input-file {
                        width: 73%;
                        padding: 0.5em;
                        text-align: center;
                    }
                    .form__item-colors {
                        justify-content: start;
                        input {
                            width: 23%;
                        }
                    }
                    .form__item-add {
                        justify-content: start;
                        .btn-add-color {
                            font-size: 18px;
                        }
                    }
                }
                
                .file {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }

                .colors {
                    width: 100%;
                }

                .btn-container {
                    display: flex;
                    justify-content: center;
                    .form-add__button {
                        width: 30%;
                        padding: 0.8em;
                        font-size: 16px;
                    }
                }
                .container-for-desktop {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
            }
            .options {
                select {
                    font-size: 16px;
                }
            }
            h2 {
                font-size: 16px;
            }
        }   
    }
}