.menu {
   background-color: $black-color;
   color: $light-salmon;
   padding: 2em 0;
   position: fixed;
   top: 0;
   left: -500px;
   z-index: 2;
   height: 100vh;
   width: 100vw;

   transition: 0.7s all ease-out;

   .menu__container-close {
      cursor: pointer;

      .menu__icon--close {
         font-size: $big-font;
         position: absolute;
         top: 0;
         left: 0;
         padding: 1em;
      }
   }

   .menu__container-user {
      padding: 2em 0;

      .menu__container-user-content {
         display: flex;
         justify-content: center;
         .menu__icon--user {
            font-size: $giant-font;
            margin-bottom: 0.3em;
         }

         .menu__list--user {
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            .menu__span--user {
               font-weight: 300;
            }
         }
      }
   }

   .menu__title {
      text-align: center;
   }

   .menu__mobile {
      padding: 2em;

      .menu__item {
         display: flex;
         flex-direction: column;
         gap: 1.2em;

         .menu__link {
            font-size: $medium-font;
         }

         .menu__icon {
            margin-right: 1em;
         }
      }
   }
}

@media screen and (min-width: 1024px) {
   .menu {
      left: -1024px;
      width: 50vw;

      transition: 0.6s all ease-out;
   }
}
