.menu {
   background-color: white;
   color: black;
   padding: 2em 0;
   position: fixed;
   top: 0;
   left: -9999px;
   z-index: 3;
   height: 100vh;
   width: 100vw;

   transition: 0.7s all ease-out;

   .menu__container-close {
      cursor: pointer;

      .menu__icon--close {
         font-size: $big-font;
         position: absolute;
         top: 0;
         left: 0;
         padding: 1em;
      }
   }

   .menu__container-user {
      padding: 2em 0;

      .menu__container-user-content {
         display: flex;
         justify-content: center;
         .menu__icon--user {
            font-size: 5em;
            margin-bottom: 0.25em;
         }
         .menu__link--user {
            color: black;
            border-color: black;
         }

         .menu__list--user {
            display: flex;
            flex-direction: column;
            gap: 0.8em;
            .menu__span--user {
               font-weight: 300;
            }
         }
      }
   }

   .menu__title {
      text-align: center;
   }

   .menu__mobile {
      padding: 2em;

      .menu__item {
         display: flex;
         flex-direction: column;
         gap: 1.2em;

         .menu__link {
            font-size: $medium-font;
         }

         .menu__icon {
            margin-right: 1em;
         }
      }
   }
}

@media screen and (min-width: 1024px) {
   .menu {
      left: -1024px;
      width: 50vw;
      height: 100vh;

      transition: 0.6s all ease-out;

      .menu__container-user {
         .menu__container-user-content {
            .menu__icon--user {
               font-size: $giant-font;
            }
            .menu__link--user {
               &:hover {
                  color: $link-color;
                  border-color: $hover-color;
                  transform: scale(105%);
               }
            }
         }
      }

      .menu__mobile {
         .menu__item {
            display: grid;
            grid-template-columns: 1fr 1fr;

            align-items: center;
            justify-items: center;

            .menu__link {
               align-items: center;
               border: 1px solid black;
               border-radius: 5px;
               display: flex;
               font-size: 20px;
               justify-content: center;
               transition: 0.2s all ease-in-out;

               height: 50px;
               width: 200px;
               &:hover {
                  border-color: $hover-color;
                  transform: scale(105%);
               }
            }
         }
      }
   }
}
