.promotions {
   .promotion__container {
      padding: 1em 0;
      .promotion__title {
         text-align: center;
         font-size: $big-font;
         font-weight: 300;
      }
      .swiper__promotions {
         .swiper-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
         }
         .promotions__image {
            max-width: 80%;
            max-height: 350px;
         }
         .promotions-slide {
            padding: 1em 0;
            text-align: center;
            .promotions__slide-title {
               font-weight: 300;
               font-size: 19px;
               padding: 0.7em 0;
            }
            .promotions__slide-price {
               font-size: $medium-font;
               font-weight: 600;
            }
         }
      }
   }
}
